body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    line-height: 1.5;
    margin: 0px;
 }
 
 header {
    align-items: center;
    background-color: black;
    padding-left: 4%;
    padding-right: 4%;
 }
 header h1 {
    color: yellow;
    font-family: 'Merriweather', serif;
    margin-bottom: 40px;
    margin-top: 40px;
 }
 
 .links {
    display: flex;
    list-style: none;
 }
 
 header a {
    color: white;
    padding: 0px 20px;
    text-decoration: none;
    font-size: 1.25em;
 }
 
 header strong a {
    text-transform: uppercase;
    font-family: ‘Oswald’, sans-serif;
 }
 
 .divOne {
    background: #C6C6C6;
    border-top: 5px solid yellow;
    text-align: center;
 
 
 }
 .divOne p {
    margin: 0px;
    text-align: center;
    padding: 1% 0;
    font-family: 'Merriweather', serif;
    font-size: 2em;
    font-weight: bold;
    font-style: italic;
 }
 
 .divOne p span:first-child {
    text-decoration: line-through;
    color: #999;
 }
 
 .divOne p span:last-child {
   border-bottom: 5px solid yellow;
 }
 
 .sectionOne {
    display: flex;
    justify-content: flex-end;
    background-image: url("images/coworking.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 2%;
 }
 
 .sectionOne div {
   width: 33%;
    background: rgba(255,255,255,.8);
    padding: 4%;
    box-shadow: 0 0 5px rgba(0,0,0,.75);
 }
 
 .sectionOne h2 {
    font-size: 2em;
    font-weight: bold;
    margin: 0px;
 }
 
 .sectionOne p {

    font-size: 1.25em;
    margin: 0px;
 }
 
 .button {
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    text-align: center;
    border-radius: 5px;
    padding: 16px 12px;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    box-shadow: inset 0 -3px 0 rgba(0,0,0,.2);
    background: yellow;
    color: black;
    font-size: 1.25em;
 }
 
 .sectionOne .button {
    margin-top: 30px;
 }
 .sectionTwo {
    display: flex;
    padding: 2% 0;
 }
 
 .sectionTwo div {
    padding: 2% 3%;
 }
 
 .sectionTwo div:nth-child(2) {
    border-left: 2px solid #C6C6C6;
    border-right: 2px solid #C6C6C6;
 }
 
 .sectionTwo h3 {
    margin: 0px;
     font-family: 'Merriweather', serif;
     font-size: 2em;
     font-weight: bold;
 }
 
 .sectionTwo p {
    font-size: 1.25em;
 }
 .sectionTwo .button {
    background: #C6C6C6;
 }
 
 footer {
    background-color: black;
    color: white;
    padding: 0.1%;
 }
