header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: black;
    padding-left: 2%;
    padding-right: 2%;
 }
 
 ul{
    display: flex;
 }
 
 .services {
 display: flex;
 justify-content: space-between;
 
 
 }
 
 .banner{
    display: flex;
    justify-content: flex-end;
 }